#front-page {
    position:fixed;

    display: flex;
    justify-content: center;
    align-items: center;
    
    background-color:rgb(22, 52, 79);
    
    top:0; 
    left:0; 
    width:100%; 
    height:100%; 
    
    z-index:2;
    
    border:solid rgb(22, 40, 63) 10px;
    box-sizing: border-box;
}

#name_input{
    position:fixed;
    width:80%;
    background-color:rgb(62, 14, 14);
    border:solid rgb(22, 40, 63) 10px;
    border-radius:1.5%;
    height:75%;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#center_stuff_in_name_input {
    position:relative;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;
    
    box-sizing: border-box;
}

#nickname_overall {
    /* position: relative; */
    /* border: solid yellow 10px; */
    box-sizing: border-box;
    height: 20%;
    width: 50%;
    
    display: flex;
    justify-content: center;
    /* align-items: center; */
    flex-direction: column;
    
}

#nickname_textbox {
    flex: 1;
    background-color:rgb(164, 196, 223);
    padding: 1%;
    border:solid rgb(22, 40, 63) 5px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 100%;
} 

#name_input_caption {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif; 
    font-size:140%;
    color:lightsteelblue; 
}

#send_button{
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    left:20%;
    height: 5%;
    width:10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    /* font-size:100%; */
    background-color:rgb(164, 196, 223);
    color:rgb(22, 40, 63);
    border:solid 1px black;
    border-radius:5%;
} #send_button:hover{
    cursor:pointer;
}

#default_button{
    position: absolute;
    bottom: 20%;
    box-sizing: border-box;
    right: 20%;
    height: 5%;
    width:10%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:rgb(164, 196, 223);
    /* font-size:100%; */
    color:rgb(22, 40, 63);
    border:solid 1px black;
    border-radius:5%;
} #default_button:hover{
    cursor:pointer;
}

.nicknames{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:white;
    font-size:20px;
}

#front_page_but_later{
    position:fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background-color:rgb(22, 52, 79);
    /* border: solid green 10px; */
}

#top_bar {
    position: relative;
    top: 0;
    height: 15%;
    width: 100%;
    border:solid rgb(22, 40, 63) 10px;
    /* border: solid red 15px; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}

#logo{
    position: absolute;
    height:70%;
}

#side-by-side {
    display: flex;
    /* border: solid purple 20px; */
    height: 100%;
    box-sizing:border-box;
}

#online-bar, .container {
    box-sizing: border-box;
}

#online-bar{
    border:solid rgb(22, 40, 63) 10px;
    flex: 1;
    padding: 2%;
    width: 10%;
    height:100%;
}

.container{
    flex: 9;
    padding:2%;
    height:100%;
    background-color:lightsteelblue;
    border:solid rgb(22, 40, 63) 10px;
    justify-content: center; /* Center along the x-axis */
    align-items: center;
    flex-direction: row;
    /* border-radius: 10px; */
    /* margin-bottom:20px; */
}

#send-container{
    box-sizing: border-box;
}

#message_inp{
    font-size:25px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color:lightsteelblue;
    border: solid rgb(22, 40, 63) 5px;
    border-left-color:lightsteelblue;
    border-right-color:lightsteelblue;
    border-top-color:lightsteelblue;
    box-sizing: border-box;
    height:20%;
    width:100%;
    padding:2%;
}

.messages-region{ 
    box-sizing: border-box;
    height:100%;
    max-height: 450px;
    overflow-y: auto;

}

.nickname{
    width:100px;
    background-color:red;
}

.message{
    display:block;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding: 1%; 
    margin:0.5%; 
    background-color: white;
    width:24%;
    border:solid rgb(164, 196, 223) 2px; 
    overflow:visible;
    border-radius: 10px;
}


.typing-indc{
    background-color:red;
    width:100px;
    height:20px;
}

.right{
    float:right;
    clear:both;
}

.new-user{
    margin:10px;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display:block;
    color:black;
    display: flex;
    clear:both;
    justify-content: center;
    align-items: center;
}

.left{
    float:left;
    clear:both;
}


.identity{
    align-content: center;
    text-align:center;
    background-color: red;
    padding-top:8px; 
    padding-bottom:8px; 
}